<p *ngIf="!addresses || addresses.length == 0">No addresses</p>
<ul class="list-group" *ngIf="addresses && addresses.length > 0">
  <li class="list-group-item"
      *ngFor="let address of addresses; let i = index">
    <i class="fa fa-address-card-o" aria-hidden="true"></i>
     {{address.street}} {{address.number}}, {{address.city}}
    <div class="pull-right button-group">
      <button
        (click)="delete(i, $event)"
        class="btn btn-outline-danger">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
      <button
        class="btn btn-outline-warning">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
    </div>
  </li>
</ul>
<hr>

<form [formGroup]="addressGroup" (submit)="saveAddress()">
  <div class="form-group">

    <label class="center-block">
      Street:
      <input class="form-control"
            formControlName="street">
    </label>
    <label class="center-block">
      Number:
      <input class="form-control"
             formControlName="number">
    </label>
    <label class="center-block">
      City:
      <input class="form-control"
             formControlName="city">
    </label>
    <button
      type="submit"
      class="btn btn-outline-success">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
</form>
