.img{
  margin-right: 10px;
}
.img1{
  border-radius: 10px;
  width: 32%
}
.img2{
  border-radius: 10px;
  width: 32%
}
.img3{
  border-radius: 10px;
  width: 16%
}
.img4{
  border-radius: 10px;
  width: 32%
}
.img5{
  border-radius: 10px;
  width: 25%
}
.img6{
  border-radius: 10px;
  width: 32%
}
.img7{
  border-radius: 10px;
  width: 16%
}

