<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h4>
        <button
          class="btn btn-outline-success"
          (click)="back()">Back</button>
        Create Customer
      </h4>
      <hr>
    </div>
    <div class="col-md-12">
      <form (ngSubmit)="save()" [formGroup]="customerGroup" novalidate>
        <div class="form-group">
          <label class="center-block col-md-12 ">FirstName:
            <input class="form-control"
                   placeholder="Your First Name here"
                   [ngClass]="{
                      'is-invalid':isInvalid('firstName'),
                      'is-valid':isValid('firstName')
                   }"
                   formControlName="firstName">
            <div *ngIf="isInvalid('firstName')"
                 class="invalid-feedback">
              <div *ngIf="customerGroup.controls['firstName'].errors.required">
                First Name is required.
              </div>
              <div *ngIf="customerGroup.controls['firstName'].errors.minlength">
                First Name must be at least 2 characters long.
              </div>
            </div>
          </label>

          <label class="center-block col-md-12">LastName:
            <input class="form-control"
                   formControlName="lastName"
                   placeholder="Your Last Name here"
                   [ngClass]="{
                      'is-invalid':isInvalid('lastName'),
                      'is-valid':isValid('lastName')
                   }">
            <div *ngIf="isInvalid('lastName')"
                 class="invalid-feedback">
              <div *ngIf="customerGroup.controls['lastName'].errors.required">
                Last Name is required.
              </div>
              <div *ngIf="customerGroup.controls['lastName'].errors.minlength">
                Last Name must be at least 2 characters long.
              </div>
            </div>
          </label>
          <label class="center-block col-md-12">
            Addresses:
            <div class="card">
              <div class="card-body">
                <app-address-list
                  [addresses]="addressesIn">

                </app-address-list>
              </div>
            </div>

          </label>
          <button
            [disabled]="customerGroup.invalid"
            type="submit"
            class="btn btn-outline-info pull-right">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
          </button>
        </div>
      </form>
      <ngb-alert *ngIf="customerCreatedSuccessfully" (close)="closeAlert()" type="success">Customer is Created</ngb-alert>
    </div>
  </div>
</div>


<!--<form [formGroup]="addressGroup" (submit)="bazz()">
  <div class="form-group">
    <label class="center-block">Street:
      <input class="form-control"
             formControlName="street">
    </label>
    <label class="center-block">Number:
      <input class="form-control"
             formControlName="number">
    </label>
    <label class="center-block">City:
      <input class="form-control"
             formControlName="city">
    </label>
    <button type="submit"
            class="btn btn-outline-warning">s</button>
  </div>
</form>-->
