.img{
  margin: 5px;
  border-radius: 10px;
}
.img1{
  border-radius: 10px;
  width: 100%
}
.img2{
  border-radius: 10px;
  width: 100%
}
.img3{
  border-radius: 10px;
  width: 100%
}
.img4{
  border-radius: 10px;
  width: 100%
}
.img5{
  border-radius: 10px;
  width: 100%
}
.img6{
  border-radius: 10px;
  width: 100%
}
.img7{
  border-radius: 10px;
  width: 100%
}

